@media (max-width: 700px) {
   .plat-unique {
        flex-direction: column;
    }
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color-2);
    margin: var(--gap-medium);
    text-align: center;
}

h3 {
    font-size: 22px;
}

.nos-plats-section {
    background-color: var(--component-color);
    margin: var(--gap-large);
    padding: var(--gap-medium);
    height: auto;
}

.nos-plats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.nos-plats div {
    background-color: var(--text-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;
    border-radius: 12px;
}

.nos-plats img{
    width: 96%;
    height: 95%;  
    border-radius: 15px;
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.plat p {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color-1);
    line-height: 1.5;
    text-align: center;
}

/* Plat Salade */

.plat-section {
    background-color: var(--component-color);
    margin: var(--gap-large);
    padding: var(--gap-medium);
    height: auto;
}

.plat-unique {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin: var(--gap-small);
    background-color: var(--text-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 12px;
}


.image-container img {
    margin: var(--gap-small);
    width: auto;
    height: auto;  
    border-radius: 15px;
}


.plat-unique-content p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: center;
}

#Salade, #Poulet-manouch, #Pancake {
    scroll-margin-top: 25vh;
}