/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: #A3AEB6;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

header p {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre l'image et le texte */
}

/* Barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f5873;
    padding: 15px;
    color: white;
    position: relative;
}
nav .menu {
    display: flex;
    gap: 260px;
}
nav .menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
nav .menu a:hover {
    text-decoration: underline;
}
nav .logo img {
    position: absolute;
    bottom: -5px;
    left: 60px;
}
.inscription-btn {
    background-color: #4691a4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.inscription-btn:hover {
    background-color: #3a7f90;
}

/* Section principale */

main {
    background-color: #252932;
    height: 2500px;
}

.offre-section {
    position: relative;
    background-image: url('/media/image/fondOffre.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 200px;
}
.offre-content {
    padding: 20px;
    border-radius: 10px;
}
.offre-content h1 {
    font-size: 30px;
    font-weight: bold;
}
.offre-content p {
    margin: 15px 0;
    font-size: 18px;
}
.offre-content button {
    background-color: #4691a4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.offre-content button:hover {
    background-color: #3a7f90;
}

/* Section "Notre Histoire" */
.notre-histoire-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.notre-histoire {
    background-color: #D9D9D9;
    padding: 20px 40px;
    border-radius: 15px;
    width: 1604px;
}

.notre-histoire h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #2f5873;
    margin-bottom: 20px;
}

.notre-histoire p {
    padding: 30px;
    text-align: left;
    font-size: 16px;
    color: black;
    line-height: 3;
}

/* Section "Nos Clubs" */
.nos-clubs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}
.nos-clubs {
    display: flex;
    padding-top: 100px;
    width: 1604px;
    gap: 20px;
}

.nos-clubs-section h2 {
    position: absolute;
    top: 0;
    left: 150px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.nos-clubs p {
    flex: 1;
    max-width: 800px;
    text-align: left;
    font-size: 16px;
    color: white;
    line-height: 3;
}

.nos-clubs iframe {
    flex: 1;
    max-width: 800px;
    border: none;
}

/* Section "vidéo" */
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.notre-video {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    padding: 40px;
    border-radius: 15px;
    width: 1604px;
}

/* Section Nos Réseaux */ 
.nos-reseaux-section {
    background-color: #727272;
    height: 50px;
}

.nos-reseaux {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 5px;
}

.nos-reseaux p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nos-reseaux a img:hover {
    transform: scale(1.1);
}

/* Section Pied-de-Page */

.pied-de-page-section {
    background-color: #A3AEB6;
    padding: 20px;
    height: 80px;
}

.pied-de-page{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}
.pied-de-page p {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.pied-de-page li{
    font-size: 12px;
}