@media (max-width: 700px) {
    :root {
      --font-size-large: 40px;
      --font-size-medium: 14px;
      --font-size-small: 12px;
    }

    .plat-unique {
        flex-direction: column;
    }
}

h3 {
    font-size: 22px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1E4B71;
    margin: 10px;
    text-align: center;
}

.nos-plats-section {
    background-color: var(--component-color);
    padding: 2vh 0;
    margin: 6%;
    height: auto;
}

.nos-plats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.nos-plats div {
    background-color: white;
    width: 454px;
    height: 300px;
    border-radius: 15px;
}

.nos-plats img{
    margin: 22px;
    width: 409px;
    height: 250px;  
    border-radius: 10px;
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.plat p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: center;
}

/* Plat Salade */

.plat-section {
    background-color: var(--component-color);
    padding: 20px 0;
    margin: 6%;
    height: 40vh;
}


.plat-unique {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;

}

.image-container {
    background-color: white;
    width: 454px;
    height: 300px;
    border-radius: 15px;
}


.image-container img {
    margin: 20px;
    width: 409px;
    height: 250px;  
    border-radius: 15px;
}


.plat-unique-content p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: center;
}

#Salade, #Poulet-manouch, #Pancake {
    scroll-margin-top: 25vh;
}