/* Définition des variables de couleurs globales */
:root {
    --background-color: #252932;
    --header-footer-color: #A3AEB6;
    --nav-color: #2f5873;
    --button-color: #4691a4;
    --button-hover-color: #3a7f90;
    --component-color: #D9D9D9;
    --footer-1-color: #727272;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
}


/* Thème Hiver (winter) */
body.winter {
    --background-color: #252932;
    --header-footer-color: #A3AEB6;
    --nav-color: #2f5873;
    --button-color: #4691a4;
    --button-hover-color: #3a7f90;
    --component-color: #D9D9D9;
    --footer-1-color: #727272;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
}


/* Thème Été (summer) */
body.summer {
    --background-color: #E0CDA9;
    --header-footer-color: #FFB88C;
    --nav-color: #F28563;
    --button-color: #F1A7A3;
    --button-hover-color: #b17572;
    --component-color: #FFE6D2;
    --footer-1-color: #D68F5A;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
}

h3 {
    font-size: 22px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1E4B71;
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.nos-plats-section {
    background-color: #D9D9D9;
    padding: 20px 0;
    margin: 6%;
    height: 72vh;
}

.nos-plats {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.nos-plats div {
    background-color: white;
    width: 454px;
    height: 300px;
    border-radius: 15px;
}

.nos-plats img{
    margin: 22px;
    width: 409px;
    height: 250px;  
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.plat p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: center;
}

/* Plat Salade */

.plat-section {
    background-color: #D9D9D9;
    padding: 20px 0;
    margin: 6%;
    height: 500px;
}


.plat-unique {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    gap: 100px;
}

.image-container {
    background-color: white;
    width: 454px;
    height: 300px;
    border-radius: 15px;
}


.image-container img {
    margin: 20px;
    width: 409px;
    height: 250px;  
}


.plat-unique-content p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: center;
}

#Salade, #Poulet-manouch, #Pancake {
    scroll-margin-top: 25vh;
}