.offre-section {
    position: relative;
    background-image: url("/media/image/fondOffre.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: var(--text-color-2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offre-content h1 {
    font-size: 30px;
    font-weight: bold;
}

.offre-content p {
    margin: 20px;
    font-size: 18px;
}

.offre-content a {
    background-color: var(--button-color);
    color: var(--text-color-1);
    border: none;
    padding: 10px 20px;
    margin: 10;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.offre-content a:hover {
    background-color: var(--button-hover-color);
}

/* Section "Notre Histoire" */
.notre-histoire-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.notre-histoire {
    background-color: var(--component-color);
    padding: 20px 40px;
    border-radius: 15px;
    width: 1604px;
}

.notre-histoire h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--nav-color);
    margin-bottom: 20px;
}

.notre-histoire p {
    padding: 30px;
    text-align: left;
    font-size: 16px;
    color: var(--text-color-2);
    line-height: 3;
}

/* Section "Nos Clubs" */
.nos-clubs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.nos-clubs {
    display: flex;
    padding-top: 100px;
    width: 1604px;
    gap: 20px;
}

.nos-clubs-section h2 {
    position: absolute;
    top: 0;
    left: 150px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color-1);
}

.nos-clubs p {
    flex: 1;
    max-width: 800px;
    text-align: left;
    font-size: 16px;
    color: var(--text-color-1);
    line-height: 3;
}

.nos-clubs iframe {
    flex: 1;
    max-width: 800px;
    border: none;
}

/* Section "vidéo" */
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.notre-video {
    display: flex;
    justify-content: center;
    background-color: var(--component-color);
    padding: 40px;
    border-radius: 15px;
    width: 1604px;
}