main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Erreur404-section {
    margin: var(--gap-large);
    padding: var(--gap-medium);
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--component-color);
}

.Erreur404-section h1 {
    color: var(--text-color-2);
    font-size: var(--font-size-large);
}

.Erreur404-section p {
    padding-top: 10px;
    color: var(--text-color-2);
    font-size: var(--font-size-medium);
    padding-bottom: var(--gap-large);
}

.Erreur404-section img {
    width: var(--logo-size-large);
}