.offre-section {
    position: relative;
    background-image: url("../media/image/fondOffre.webp");
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 10%;
    color: var(--text-color-2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offre-content h1 {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.offre-content p {
    margin: 2vh;
    font-size: var(--font-size-small);
}

.offre-content a {
    background-color: var(--button-color);
    color: var(--text-color-1);
    border: none;
    padding: 2% 10%;
    margin: 1.5%;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    text-decoration: none;
}

.offre-content a:hover {
    background-color: var(--button-hover-color);
}

/* Section "Notre Histoire" */
.notre-histoire-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.notre-histoire {
    background-color: var(--component-color);
    border-radius: 15px;
    width: 85%;
}

.notre-histoire h2 {
    text-align: center;
    font-size: var(--font-size-large);
    padding-top: var(--gap-medium);
    font-weight: bold;
    color: var(--nav-color);
}

.notre-histoire p {
    padding: var(--gap-large);
    text-align: left;
    font-size: 16px;
    color: var(--text-color-2);
    line-height: 3;
}

/* Section "Nos Clubs" */


.nos-clubs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.5%;
    position: relative;
}

.nos-clubs {
    display: flex;
    padding-top: var(--gap-large);
    width: 100%;
    gap: 20px;
}

.nos-clubs iframe{
    width : 100%;
    height: auto;
}

@media (max-width: 700px) {
    .nos-clubs {
        flex-direction: column;
        margin-top: 5%;
    }
    
}

.nos-clubs-section h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-color-1);
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: bold;
}

.nos-clubs p {
    flex: 1;
    text-align: left;
    font-size: var(--font-size-small);
    color: var(--text-color-1);
    line-height: 3;
}

.nos-clubs iframe {
    flex: 1;
    border: none;
}

/* Section "vidéo" */
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.5%;
}

.notre-video {
    display: flex;
    justify-content: center;
    background-color: var(--component-color);
    padding: 40px;
    border-radius: 15px;
    width: 100%;
}