main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Erreur404-section {
    margin-top: 50px;
    width: 70vh;
    height: 60vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--component-color);
}

.Erreur404-section h1 {
    color: white;
    font-size: 70px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.Erreur404-section p {
    padding-top: 10px;
    color: white;
    font-size: 30px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    padding-bottom: 50px;
}