/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Définition des variables de couleurs globales */
:root {
    --background-color: #252932;
    --header-footer-color: #A3AEB6;
    --nav-color: #2f5873;
    --button-color: #4691a4;
    --button-hover-color: #3a7f90;
    --component-color: #D9D9D9;
    --footer-1-color: #727272;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
    --submit-btn-color: rgb(85, 170, 153);
    --submit-btn-hover-color: rgb(68, 170, 136);

    --font-size-large: 40px;
    --font-size-medium: 14px;
    --font-size-small: 12px;

    --logo-size-large: 200px;
    --logo-size-small: 70px;

    --gap-large: 80px;
    --gap-medium: 20px; 
    --gap-small: 10px;

    --nav-pad-width: 15px;
    --nav-pad-heigh: 8px;
}

@media (max-width: 700px) {
    :root {
        --font-size-large: 25px;
        --font-size-medium: 10px;
        --font-size-small: 7px;

        --logo-size-large: 100px;
        --logo-size-small: 40px;

        --gap-large: 25px;
        --gap-medium: 20px; 
        --gap-small: 1px;

        --nav-pad-width: 8px;
        --nav-pad-heigh: 5px;
    }
}

/* Thème Hiver (winter) */
body.winter {
    --background-color: #252932;
    --header-footer-color: #A3AEB6;
    --nav-color: #2f5873;
    --button-color: #4691a4;
    --button-hover-color: #3a7f90;
    --component-color: #D9D9D9;
    --footer-1-color: #727272;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
    --submit-btn-color: rgb(85, 170, 153);
    --submit-btn-hover-color: rgb(68, 170, 136);
}

/* Thème Été (summer) */
body.summer {
    --background-color: #E0CDA9;
    --header-footer-color: #FFB88C;
    --nav-color: #F28563;
    --button-color: #F1A7A3;
    --button-hover-color: #b17572;
    --component-color: #FFE6D2;
    --footer-1-color: #D68F5A;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
    --submit-btn-color: rgb(235, 152, 0);
    --submit-btn-hover-color: rgb(179, 117, 2);
}

body {
    background-color: var(--background-color);
}

/* Header */
header {
    background-color: var(--header-footer-color);
    height: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--text-color-1);
}

header p {
    align-items: center;
    display: flex;
    gap: var(--gap-small); /* Espace entre l'image et le texte */
}

/* Idéalement faudrait virer ces trois selecteur d'id et redimensionner les img */
#taille-1 {
    width:52px;
    height:40px;
}

#taille-2 {
    width:40px;
    height:37px;
}

#taille-3 {
    width:32px;
    height:36px;
}

/* Et faudrait mettre un truc comme ca
header p img {
    width: 40px;
    height: 40px;
}
*/

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--text-color-1);
    text-decoration: none;
}

.logo a img {
    width: var(--logo-size-small);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: var(--gap-small);
}

.nav-menu li a {
    text-decoration: none;
    color: var(--text-color-1);
    font-size: var(--font-size-medium);
    padding: var(--nav-pad-heigh) var(--nav-pad-width);
    transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: var(--button-color);
    border-radius: 5px;
}

.signup-btn .button {
    text-decoration: none;
    color: var(--text-color-1);
    background-color: var(--button-color);
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup-btn .button:hover {
    background-color: var(--button-hover-color);
}

/* Section principale */
main {
    background-color: var(--background-color);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--text-color-1);
    border: none;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 300;
    cursor: pointer;
    display: none; /* Initialement masqué */
    z-index: 1000;
  }
  
#scrollToTopBtn:hover {
    background-color: var(--button-hover-color)
}

/* Section Nos Réseaux */
.nos-reseaux-section {
    background-color: var(--footer-1-color);
    height: 50px;
}

.nos-reseaux {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 5px;
}

.nos-reseaux p{
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: bold;
}

.nos-reseaux a img:hover {
    transform: scale(1.1);
}

/* Section Pied-de-Page */
.pied-de-page-section {
    background-color: var(--header-footer-color);
    padding: 20px;
    height: 80px;
}

.pied-de-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.pied-de-page p {
    color: var(--text-color-1);
    font-size: 15px;
    font-weight: bold;
}

.pied-de-page ul {
    list-style-type: none;
}

.pied-de-page li{
    font-size: 12px;
    color: var(--text-color-1);
}

.pied-de-page ul li a {
    text-decoration: none;  
}

.pied-de-page ul li a:visited {
    color: var(--text-color-1);
}
